<div class="banner-container">
  <div class="banner-nav-bar">
    <div><i class="fa-solid fa-film"></i></div>
    <div>
      <ul>
        <li class="botão"><%= link_to "My Lists", lists_path %></li>
        <li class="botão"><%= link_to "New list", new_list_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dGhlYXRlcnxlbnwwfHwwfHx8MA%3D%3D);">
  <div class="container">
    <h1>Add Bookmark to <%= @list.name %></h1>
  </div>
</div>

<div class="bookmark-form-container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.input :comment, label: "Comment", input_html: { class: 'input-comment' } %>
    </div>
    <div class="form-group">
      <%= f.association :movie, label: "Movie", input_html: { class: 'input-movie' } %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn-submit mt-3' %>
    </div>
  <% end %>
</div>

<div class="back-links">
  <%= link_to "Back to List", list_path(@list), class: 'back-btn' %>
</div>
